@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@import "./variables.scss";
@import "./navbar.scss";
@import "./home.scss";
@import "./dropdown.scss";
@import "./service.scss";
@import "./advertise.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Karla", sans-serif;
}

.container {
    width: 350px;
    display: flex;
    margin: 0 auto;
}

.btn {
    padding: 0.5rem 2rem;
    background: transparent;
    border: 1px solid $very-light-gray;
    color: $very-light-gray;
    margin-top: 2.5rem;
}