.nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 26px;
    }

    .hamburger-menu {
        height: 45px;
    }
}
